# API base URL for django backend. Use https://api.suvalgyk.lt for prod or http://10.0.2.2:8000 for local android emulator development.
EXPO_PUBLIC_API_BASE_URL=https://api.suvalgyk.lt
EXPO_PUBLIC_API_KEY=
EXPO_PUBLIC_CLOUDFLARE_R2_ACCOUNT_ID=your_account_id
EXPO_PUBLIC_CLOUDFLARE_R2_ACCESS_KEY=your_access_key
EXPO_PUBLIC_CLOUDFLARE_R2_SECRET_KEY=your_secret_key
EXPO_PUBLIC_CLOUDFLARE_R2_BUCKET_NAME=your_bucket_name
EXPO_PUBLIC_CLOUDFLARE_R2_PUBLIC_DOMAIN=your_public_domain

